@media (min-width: 47.5em) {
  .error- header {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  html {
    font-size: 70%;
  }
  .heading-secondary {
    margin-bottom: 3.2rem;
  }

  .outer-container {
    padding-top: 4.8rem;
    padding-bottom: 3.2rem;
  }

  .header {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
}

@media (min-width: 62.5em) {
  .btn-back img {
    width: 3.2rem;
    height: 3.2rem;
  }

  .btn-back {
    margin-right: 3.2rem;
  }
  .heading-primary {
    font-size: 3.106rem;
  }
  main .max-width-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
  }

  .section-cart {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start;
  }

  .btn-order {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: flex-end;
  }

  .btn-order-1,
  .climate-text-container.climate-text-container-1 {
    display: block;
  }
  .climate-text-container.climate-text-container-1 {
    display: flex;
  }

  .btn-order-2,
  .climate-text-container-2.climate-text-container {
    display: none;
  }

  .total-price {
    margin-bottom: 2.4rem;
  }
  .header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 75em) {
  header .max-width-container {
    padding-left: 2.5rem;
  }
  .heading-secondary {
    margin-bottom: 2.4rem;
  }
  .max-width-container {
    margin: 0 auto;
  }

  html {
    font-size: 75%;
  }
}
