* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #495057;
}
button,
a {
  cursor: pointer;
}

button:focus,
a:focus,
a:hover,
button:hover {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.spinner.hidden,
.spinner-total-price.hidden {
  display: none;
  position: relative;
  transform-origin: center center;
}
.spinner {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 6rem auto;
  animation: spinner-rotation 1s infinite;
}

.spinner-total-price {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  animation: spinner-rotation 1s infinite;
}

.spinner-total-price::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 3px solid #e6e6e6;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.spinner-total-price::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  color: #087f5b;
  left: 50%;
  top: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid #e6e6e6;
  border-top-color: #0ca678;
  transform: translateX(-50%) translateY(-50%);
}

.spinner::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid #e6e6e6;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.spinner::after {
  content: "";
  position: absolute;
  color: #087f5b;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #e6e6e6;
  border-top-color: #0ca678;
  transform: translateX(-50%) translateY(-50%);
}

.outer-container {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 600;
  color: #495057;
  margin-bottom: 3.2rem;
}

.max-width-container {
  max-width: 1200px;
}

section.outer-container {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.btn-order-1,
.climate-text-container-1.climate-text-container {
  display: none;
}

.btn-order-2 {
  margin-top: 2.4rem;
  display: block;
}

.error-msg.hidden {
  display: none;
}
.error-msg {
  position: fixed;
  padding: 4.2rem 2.4rem;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #e9f7f3;
  border-radius: 10px;
  left: 50%;
  width: 90%;
  max-width: 600px;
  z-index: 9999;
}

.error-heading {
  font-size: 2.5rem;
  color: #0ca678;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.8rem;
  z-index: 9999;
}

.error-text {
  font-size: 2rem;
  color: #495057;
  font-weight: 500;
  text-align: center;
  z-index: 9999;
  margin-bottom: 2.4rem;
}

.ok-btn {
  padding: 0.4rem 2rem;
  background-color: #087f5b;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.6rem 4.8rem;
  display: block;
  margin: auto;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 5px;
  transition: all 0.15s;
  font-family: inherit;
}

.ok-btn:hover {
  background-color: #0ca678;
  border-color: #0ca678;
  color: #f4fdfa;
}

/* HEADER */

header {
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.03);
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  width: 100%;
}

header .max-width-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn-back {
  background: none;
  border: none;
  margin-right: 1.8rem;
}

.heading-primary {
  color: #0ca678;
  font-size: 2.5rem;
  text-align: center;
}

#omniva_container2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
#omniva_container2 img {
  height: 3.25rem;
}

#omniva_container2 table {
  font-family: inherit;
}

#omniva_select2 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 90%;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 12px;
  border: 1px solid #e6e6e6;
  background: transparent;
  background-image: url(../icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 13px;
}

td.ow_td:first-of-type {
  display: none;
}

table.ow_table {
  padding: 0;
}
input,
select,
#omniva_select2 {
  transition: all 0.15s;
}
input:focus,
select:focus,
#omniva_select2:focus {
  box-shadow: 0 0 2px 3px rgba(99, 217, 182, 0.57);
  outline: none;
  transition: all 0.15s;
}

/* CART SECTION */

.product-card {
  display: inline-grid;
  max-height: 100px;
  margin-bottom: 3.2rem;
  grid-template-columns: auto auto;
}
.image-container {
  margin-right: 1.2rem;
}

.discount-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3.2rem;
}

.discount-apply {
  border: none;
  display: inline-block;
  padding: 0 auto;
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  color: #0ca678;
  font-size: 1.6rem;
  border-radius: 5px;
  text-align: left;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
}

.discount-apply:hover {
  color: #087f5b;
}
.discount.input {
  flex-basis: 70%;
  margin-bottom: 0;
  flex: 0 1 75%;
  margin-right: 3%;
}

.product-text-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-text-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-title {
  font-size: 1.6rem;
  color: #0ca678;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.product-quantity {
  font-weight: 600;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 5px;
  min-width: 38px;
  border: none;
  background: transparent;
  background-image: url(../icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 85% center;
  background-size: 12px;
}

.product-card-price {
  font-weight: 500;
  font-size: 1.6rem;
}

.product-price,
.transport-price,
.discount-price,
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}

.total-price {
  margin-top: 1.8rem;
}

.product-img {
  max-height: 75px;
  margin-right: 1.2rem;
  border-radius: 5px;
}
.discount-price {
  visibility: hidden; /* TO HIDE THE ELEMENT WITHOUT REMOVING IN FROM THE DOM */
  position: absolute;
}

.product-price-label,
.transport-price-label,
.discount-price-label {
  font-weight: 500;
  font-size: 1.6rem;
  color: #495057;
}

.total-price-label {
  font-weight: 600;
  font-size: 2rem;
  color: #0ca678;
}

.product-price-value,
.transport-price-value,
.discount-price-value {
  color: #495057;
  font-weight: 500;
  font-size: 1.6rem;
}

.total-price-value {
  color: #0ca678;
  font-size: 2rem;
  font-weight: 600;
}

/* CONTACT SECTION */

.label,
.input {
  display: block;
}

.label {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  color: #495057;
  font-weight: 500;
  font-family: inherit;
}

.input {
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #e6e6e6;
  background: transparent;
  width: 100%;
  margin-bottom: 1.8rem;
}

.btn-order-1,
.btn-order-2 {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  padding: 1.2rem 2.4rem;
  background-color: #63d9b6;
  color: #1b5c49;
  border: none;
  border-radius: 5px;
  transition: all 0.25s;
  position: relative;
  margin-bottom: 2rem;
}

.stripe-climate-logo-text {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.climate-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.climate-text-container .img-container {
  width: 2.5rem;
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
}

.climate-text,
.climate-text-secondary {
  text-align: center;
  font-size: 1.28rem;
  font-weight: 600;
  color: #495057;
  margin-bottom: 1.2rem;
}

.climate-text-secondary {
  margin-bottom: 0;
}
.btn-order-1:hover:not([disabled]),
.btn-order-2:hover:not([disabled]) {
  color: #fff;
  background-color: #087f5b;
}

@keyframes spinner-rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
