* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #495057;
  overflow-x: hidden;
}
button,
a {
  cursor: pointer;
}

button:focus,
a:focus,
a:hover,
button:hover {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body,
body * {
  max-height: 1000000px; /* TO DISABLE FONT BOOSTING https://bugs.webkit.org/show_bug.cgi?id=FontBoosting */
}

a {
  display: inline-block;
  text-decoration: none;
}

.max-width-container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}

img {
  max-width: 100%;
}

.outer-container {
  width: 100vw;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.bg-primary {
  background-color: #e9f7f3;
}

.bg-white {
  background-color: #fff;
}

.bg-blueish {
  background-color: #e3fafc;
}

.bg-dark {
  background-color: #343a40;
}

.p-top-48 {
  padding-top: 4.8rem;
}

.p-btm-48 {
  padding-bottom: 4.8rem;
}

.p-top-64 {
  padding-top: 6.4rem;
}

.p-btm-64 {
  padding-bottom: 6.4rem;
}

.subheading {
  color: #09825e;
  font-size: 1.28rem;
  font-weight: 600;
}

.heading-secondary {
  font-size: 2.5rem;
  color: #343a40;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 1.4;
}

.feature-card-icon {
  width: 4.5rem;
  height: 4.5rem;
}

.feature-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
}

.no-flexbox-gap .feature-card .feature-card-icon {
  /* POLYFILL FOR THE GAP PROPERTY ABOVE */
  margin-bottom: 1.6rem;
}

.feature-card-heading,
.producing-step-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 0.4rem;
}

.feature-card-description,
.producing-step-description {
  font-size: 1.6rem;
  color: #495057;
  font-weight: 500;
}

.section-benefits-card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.no-flexbox-gap .section-benefits-card .benefit-card-img {
  /* POLYFILL FOR THE GAP PROPERTY ABOVE */
  margin-right: 0.8rem;
}

.section-benefits-card:not(:last-of-type) {
  margin-bottom: 1.6rem;
}

.benefit-card-img {
  width: 3rem;
  height: 3rem;
}

.benefit-card-text {
  font-size: 1.6rem;
  font-weight: 600;
  color: #343a40;
}

.producing-step-number {
  font-size: 3.125rem;
  font-weight: 700;
  color: rgba(9, 146, 104, 0.33);
}

.faq-question {
  width: 100%;
  text-align: left;
  padding: 1.6rem 0.8rem;
  border: none;
  background-color: #ededed;
  color: #343a40;
  font-size: 1.28rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif !important;
  line-height: 1.4;
  border-radius: 6px;
  animation-fill-mode: forwards !important;
  transition: background-color 0.2s;
}

.faq-answer {
  overflow: hidden;
  font-weight: 500;
  transition: height 0.25s linear;
}

.faq-answer.hidden {
  height: 0;
}

.faq-answer.paddingtop {
  padding-top: 1rem;
}

.footer-contact {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  flex-direction: row;
}

.no-flexbox-gap .footer-contact-icon {
  /* POLYFILL FOR THE GAP PROPERTY ABOVE */
  margin-right: 0.4rem;
}

.footer-text {
  font-size: 1.28rem;
  color: #495057;
  font-weight: 500;
}

br {
  line-height: 0.1;
}

ul {
  list-style-type: none;
}

.faq-arrow {
  animation-fill-mode: forwards !important;
}

.navigation-link-anchor-desktop:hover,
.navigation-link-anchor:hover,
a.footer-text:hover {
  color: #087f5b;
}

.navigation-link-cta,
.navigation-link-anchor-desktop,
.btn-primary,
.btn-secondary,
a.footer-text,
.btn-order {
  transition: all 0.15s linear;
}

.navigation-link-cta:hover,
.navigation-link-cta-desktop .navigation-link-anchor-desktop:hover,
.btn-primary:hover,
.btn-order:hover {
  background-color: #0ca678;
  border-color: #0ca678;
  color: #f4fdfa;
}

.btn-secondary:hover {
  background-color: #087f5b;
  border-color: #087f5b;
  color: #f4fdfa;
}

/* ANIMATIONS */

@keyframes openAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes closeAnimation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes colorDarken {
  from {
    background-color: #f9faf8;
  }

  to {
    background-color: #ededed;
  }
}

@keyframes colorLighten {
  from {
    background-color: #ededed;
  }

  to {
    background-color: #f9faf8;
  }
}
