/*
FONT SIZES:


61.04px	
48.83px	
39.06px	
31.25px	
25.00px	
20.00px	
16.00px	
12.80px	
10.24px	
8.19px	



VERTICAL SPACING:

2px
4px
8px
12px
16px
24px
32px
40px
48px
64px
80px
96px
*/

/* HEADER & logo*/

.header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.logo {
  width: 12rem;
}

.menu-icon {
  width: 3.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .max-width-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVIGATION LINKS (INSIDE HEADER) */

.navigation-links-container {
  transition: all 0.15s linear;
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 2rem;
  border-radius: 10px;
  background-color: #fff;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.navigation-links-container.visible {
  transform: scale(1);
  opacity: 1;
}

.navigation-links-container.hidden {
  transform: scale(0.75);

  opacity: 0;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navigation-link-anchor {
  font-size: 2rem;
  color: #343a40;
  font-weight: 500;
}

.close-button {
  border: none;
  background: none;
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

.close-button img {
  width: 100%;
}

.navigation-link:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

.navigation-link-cta {
  background-color: #087f5b;
  width: 80%;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
}

.navigation-link-cta a {
  color: #fff;
  text-align: center;
  display: block;
}

.navigation-links-desktop {
  display: none;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}

.no-flexbox-gap .navigation-links-desktop li:not(:last-of-type) {
  /* POLYFILL FOR THE GAP PROPERTY ABOVE */
  margin-right: 2.4rem;
}

.navigation-link-desktop a {
  color: #343a40;
  font-size: 2rem;
  font-weight: 500;
}

.navigation-link-cta-desktop a {
  background-color: #087f5b;
  padding: 0.8rem 2.4rem;
  color: #fff;
  border-radius: 10px;
}
/* HERO SECTION */

.section-hero {
  padding-top: 8rem;
  padding-bottom: 6.4rem;
}

.heading-primary-dark {
  color: #343a40;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 1.15;
  margin-bottom: 2.4rem;
  letter-spacing: 0.25px;
}

.heading-primary-light {
  color: #0ca678;
  font-weight: 700;
  font-size: 3.125rem;
}

.heading-primary-paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  color: #495057;
  letter-spacing: 0.25px;
  margin-bottom: 4rem;
}

.btn-primary {
  color: #f4fdfa;
  background-color: #087f5b;
  padding: 0.4rem 2.8rem 0.4rem 2.8rem;
  border-radius: 10px;
  font-size: 2rem;
  margin-right: 1.6rem;
  border: 2.5px solid #087f5b;
}

.btn-secondary,
.btn-secondary:visited {
  border: 2.5px solid #087f5b;
  font-size: 2rem;
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  color: #343a40;
  border-radius: 10px;
  margin-bottom: 4.8rem;
  background-color: transparent;
}

.hero-img {
  display: block;
  border-radius: 5px;
}

/* ABOUT US SECTION */

.about-paragraph {
  font-size: 1.6rem;
  color: #495057;
  font-weight: 500;
  line-height: 1.75;
}

.about-img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 2.4rem;
}

/* FEATURES SECTION */

.features-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}

/* PRODUCING SECTION */

.producing-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}

/* ORDER SECTION */

.product-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #e9faf5;
  margin-bottom: 0.8rem;
}

.product-description {
  color: #e9faf5;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.product-prices {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.product-price {
  color: #63d9b6;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
}

.product-price-light {
  font-size: 1.6rem;
  color: #e9faf5;
  font-weight: 500;
}

.product-price-savings {
  font-size: 1.28rem;
  color: #63d9b6;
  font-weight: 600;
}

.btn-order {
  background-color: #63d9b6;
  width: 100%;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 5px;
  font-size: 2.5rem;
  color: #1b5c49;
  font-weight: 600;
  margin-bottom: 1.2rem;
  border: none;
}

.order-info {
  color: #e9faf5;
  font-size: 1.28rem;
  text-align: center;
}

.gallery {
  flex: 1 1 0;
}

.gallery-container {
  flex: 1 1 0;
  margin-bottom: 1.6rem;
  min-width: 0; /* NECESSARY FOR GLIDE JS NOT TO GO CRAZY */
}

.glide {
  min-width: 0;
}

.gallery-container img {
  border-radius: 10px;
}

.kkk {
  color: inherit;
  text-decoration: underline;
}

.product-text {
  flex: 1 1 0;
}

.button-previous,
.button-next {
  border: none;
  background: none;
  position: absolute;
}
.button-previous img,
.button-next img {
  width: 100%;
}
.button-previous {
  left: 5px;
  top: 50%;
  width: 15px;
  transform: translateY(-50%);
}

.button-next {
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}
/* FAQ SECTION */

.heading-faq {
  font-size: 2.5rem;
  color: #0a8561;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 1.4;
}
.flex-questions-text-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.no-flexbox-gap .faq-questions-container {
  /* POLYFILL FOR THE GAP PROPERY ABOVE */
  margin-bottom: 2.4rem;
}
.faq-questions-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.no-flexbox-gap .faq-question:not(:last-of-type) {
  /* POLYFILL FOR THE GAP PROPERY ABOVE */
  margin-bottom: 1.6rem;
}
.faq-question-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-text {
  font-weight: 600;
  font-size: 1.28rem;
  text-align: center;
}

.faq-text-green {
  color: #0a8561;
}

/* FOOTER */

.logo-footer {
  margin-bottom: 1.6rem;
}

.footer-flex-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.no-flexbox-gap .footer-container {
  /* POLYFILL FOR THE GAP PROPERTY ABOVE */
  margin-bottom: 2.4rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.no-flexbox-gap .footer-text:not(:last-of-type) {
  /* POLYFILL FOR THE GAP PROPERTY ABOVE */
  margin-bottom: 0.6rem;
}
