/*
FONT SIZES:


61.04px	
48.83px	
39.06px	
31.25px	
25.00px	
20.00px	
16.00px	
12.80px	
10.24px	
8.19px	



VERTICAL SPACING:

2px
4px
8px
12px
16px
24px
32px
40px
48px
64px
80px
96px
*/

/* HEADER & logo*/

.header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 12rem;
}

.menu-icon {
  width: 3.5rem;
}

/* HERO SECTION */

.section-hero {
  padding-top: 8rem;
  padding-bottom: 6.4rem;
}

.heading-primary-dark {
  color: #343a40;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 1.15;
  margin-bottom: 2.4rem;
  letter-spacing: 0.25px;
}

.heading-primary-light {
  color: #0ca678;
  font-weight: 700;
  font-size: 3.125rem;
}

.heading-primary-paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  color: #495057;
  letter-spacing: 0.25px;
  margin-bottom: 4rem;
}

.btn-primary {
  color: #f4fdfa;
  background-color: #087f5b;
  padding: 0.4rem 2.8rem 0.4rem 2.8rem;
  border-radius: 10px;
  font-size: 2rem;
  margin-right: 1.6rem;
  border: 2.5px solid #087f5b;
}

.btn-secondary {
  border: 2.5px solid #087f5b;
  font-size: 2rem;
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  color: #343a40;
  border-radius: 10px;
  margin-bottom: 4.8rem;
}

.hero-img {
  display: block;
  border-radius: 5px;
}

/* ABOUT US SECTION */

.about-paragraph {
  font-size: 1.6rem;
  color: #495057;
  font-weight: 500;
  line-height: 1.75;
}

.about-img,
.product-img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 2.4rem;
}

/* FEATURES SECTION */

.features-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}

/* PRODUCING SECTION */

.producing-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}

/* ORDER SECTION */

.product-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #e9faf5;
  margin-bottom: 0.8rem;
}

.product-description {
  color: #e9faf5;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.product-prices {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.product-price {
  color: #63d9b6;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
}

.product-price-light {
  font-size: 1.6rem;
  color: #e9faf5;
  font-weight: 500;
}

.product-price-savings {
  font-size: 1.28rem;
  color: #63d9b6;
  font-weight: 600;
}

.btn-order {
  background-color: #63d9b6;
  width: 100%;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 5px;
  font-size: 2.5rem;
  color: #1b5c49;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.order-info {
  color: #e9faf5;
  font-size: 1.28rem;
  text-align: center;
}

/* FAQ SECTION */

.heading-faq {
  font-size: 2.5rem;
  color: #0a8561;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 1.4;
}
